extends layout

block content
  h1= title
  p Welcome to #{title}
  p Choose a Room
  ul
      li
        a(href='/chat/iot') Internet Of things
      li
        a(href='/chat/ar') Augmented Reality
      li
        a(href='/chat/bd') Big data